html{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #333;
}
body{margin: 0;
background-color: #e7ecef;}

.container{
    max-width: 60rem;
    margin : 0 auto;
}
 
nav{
    background-color: #7364d2;
}

nav > .container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

nav a{
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
}

nav a:link, 
nav a:visited{
color: #fff;
text-decoration: none;
}

nav a:hover, nav a:active{
    background-color: #5829a7;
}
.containerbody{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 5rem;
    width: 50%;
    border-radius: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5 0;
}

.form-group label{
    display: inline-block;
    min-width: 0.75rem;
    vertical-align: top;
    margin-top: 1rem;
}

.form-actions{
    padding: 1.2rem 0.1rem 0.75rem;
    margin-top: 1.5rem;
}

input[type="text"]{
    padding: 0.5rem 0.6rem;
    border-radius: 20px;
    border: thin solid #c0C0C0;
    margin-top: 2rem;
}

button{
    background-color: #7364d2;
    border: thin solid #613dc1;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
}

button:active{
    background-color: #396F33;
}

#chat-app{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.chat-users{
    display: flex;
    padding-left: 2rem;
    flex-direction: column;
    flex: 1;
}

.chat-users h2{
    margin: 0;
}
.chat-users ul{
    margin-top: 1rem;
    list-style: none;
}

li::before{
    content: "✅";
    padding-right: 8px;
    color: green;
  }

.chatbox-area{
    flex: 2;
    min-height: 35rem;
    background-color: #fff;
    border-radius: 20px;
}

.chatbox-messages{
    margin-bottom: 4.5rem;
    margin-right: 1rem;
    max-height: calc(100vh - 220px);
    overflow: auto;
    margin-top: 0.5rem;
}

.message{
    display: flex;
    align-items: center;
}
.msgid{
    margin-left: 2rem;
}
.msg-date{
    background-color: #e5E5E5;
    color: #888;
    border-radius: 0.1rem;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 0.25rem;
    padding: 0.05rem 0.25rem;
    margin-left: 1.5rem;
}

.msg-user{
    font-weight: bold;
    margin: 0 0.25rem;
}

.chatbox-form{
    position: fixed;
    bottom: 0;
    width: 37rem;
    padding: 1rem 0;
    margin-left: 0.75rem;
}

.chatbox-form input[type="text"]{
display: block;
font-size: 1.4rem;
width: 100%;
}

